.handrawnBarbecueElements1Icon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.undhiyuIcon {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 7px;
  top: 9px;
  transform: scale(1.192);
}
.wrapperUndhiyu {
  height: 286px;
  width: 286px;
  position: relative;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alooGobi,
.uChild {
  position: relative;
  max-width: 100%;
}
.uChild {
  height: 200px;
  width: 1390px;
  border-radius: var(--br-21xl);
  background-color: var(--color-saddlebrown);
  box-shadow: 3px 4px 10.8px 2px rgba(0, 0, 0, 0.21);
  display: none;
}
.alooGobi {
  margin: 0;
  width: 952.6px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.u,
.uWrapper {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.u {
  align-self: stretch;
  border-radius: var(--br-21xl);
  background-color: var(--color-saddlebrown);
  box-shadow: 3px 4px 10.8px 2px rgba(0, 0, 0, 0.21);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) 197px var(--padding-lg);
  z-index: 1;
}
.uWrapper {
  width: 1390px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-11xs);
}
.wrapperUndhiyuParent {
  width: 1767px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frameChild,
.screen10Inner {
  align-self: stretch;
  max-width: 100%;
}
.screen10Inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-23xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-124xl);
  color: var(--color-white);
  font-family: var(--font-juvenilia);
}
.frameChild {
  width: 1764px;
  position: relative;
  border-radius: var(--br-14xl);
  background-color: var(--color-khaki);
  display: none;
}
.addChoppedOnions,
.addChoppedTomatoes,
.addCubedPotatoes,
.addGingerGarlicPaste,
.addTurmericPowder,
.coverAndCook,
.heatOilOr,
.sprinkleGaramMasala {
  margin-bottom: 0;
}
.heatOilOrGheeInAPanAdd {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 65px;
}
.heatOilOrContainer {
  height: 551px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.frameWrapper,
.rectangleParent {
  flex-direction: row;
  max-width: 100%;
}
.rectangleParent {
  width: 1764px;
  border-radius: var(--br-14xl);
  background-color: var(--color-khaki);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-6xl) 0 var(--padding-17xl);
  box-sizing: border-box;
  z-index: 1;
}
.frameWrapper {
  align-self: stretch;
  align-items: flex-start;
}
.frameParent,
.frameWrapper,
.screen10,
.screen10Child {
  display: flex;
  justify-content: flex-start;
}
.frameParent {
  width: 1862px;
  flex-direction: column;
  align-items: flex-end;
  gap: 35px 0;
  max-width: 101%;
  flex-shrink: 0;
}
.screen10,
.screen10Child {
  box-sizing: border-box;
}
.screen10Child {
  width: 1866px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-xl);
  max-width: 100%;
  text-align: left;
  font-size: 49px;
  color: var(--color-black);
  font-family: var(--font-imprima);
}
.screen10 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-19xl) 0 var(--padding-5xl);
  gap: 42px 0;
  letter-spacing: normal;
  cursor: pointer;
}
@media screen and (max-width: 1800px) {
  .wrapperUndhiyuParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .screen10Inner,
  .u {
    padding-left: var(--padding-79xl);
    padding-right: var(--padding-79xl);
    box-sizing: border-box;
  }
  .screen10Inner {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
  }
}
@media screen and (max-width: 900px) {
  .alooGobi {
    font-size: var(--font-size-38xl);
  }
  .u {
    padding-left: var(--padding-30xl);
    padding-right: var(--padding-30xl);
    box-sizing: border-box;
  }
  .heatOilOrContainer {
    font-size: 39px;
  }
  .frameParent {
    gap: 35px 0;
  }
  .screen10 {
    gap: 42px 0;
  }
}
@media screen and (max-width: 450px) {
  .alooGobi {
    font-size: var(--font-size-17xl);
  }
  .u {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .heatOilOrContainer {
    font-size: 29px;
  }
}
