.handrawnBarbecueElements1Icon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.khandviIcon {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 7px;
  top: 9px;
  transform: scale(1.192);
}
.wrapperKhandvi {
  height: 286px;
  width: 286px;
  position: relative;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.khChild,
.khandvi {
  position: relative;
  max-width: 100%;
}
.khChild {
  height: 200px;
  width: 1390px;
  border-radius: var(--br-21xl);
  background-color: var(--color-saddlebrown);
  box-shadow: 3px 4px 10.8px 2px rgba(0, 0, 0, 0.21);
  display: none;
}
.khandvi {
  margin: 0;
  width: 820.8px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.kh,
.khWrapper {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.kh {
  align-self: stretch;
  border-radius: var(--br-21xl);
  background-color: var(--color-saddlebrown);
  box-shadow: 3px 4px 10.8px 2px rgba(0, 0, 0, 0.21);
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-mid) 119px;
  z-index: 1;
}
.khWrapper {
  width: 1390px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-11xs);
}
.wrapperKhandviParent {
  width: 1767px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frameChild,
.screen7Inner {
  align-self: stretch;
  max-width: 100%;
}
.screen7Inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-23xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-124xl);
  color: var(--color-white);
  font-family: var(--font-juvenilia);
}
.frameChild {
  width: 1764px;
  position: relative;
  border-radius: var(--br-14xl);
  background-color: var(--color-khaki);
  display: none;
}
.forTemperingHeat,
.garnishWithGrated,
.inABowl,
.letItCool,
.onceTheBatter,
.pourTheBatter,
.pourThisTempering {
  margin-bottom: 0;
}
.inABowlMixGramFlourYog {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 56px;
}
.inABowlContainer {
  height: 551px;
  width: 1703px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 2;
}
.bowlMixInner,
.rectangleParent {
  flex-direction: row;
  max-width: 100%;
}
.rectangleParent {
  border-radius: var(--br-14xl);
  background-color: var(--color-khaki);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-6xl) 0 var(--padding-17xl);
  box-sizing: border-box;
  z-index: 1;
}
.bowlMixInner {
  align-self: stretch;
  align-items: flex-start;
}
.bowlMix,
.bowlMixInner,
.screen7,
.submenuFrame {
  display: flex;
  justify-content: flex-start;
}
.bowlMix {
  width: 1862px;
  flex-direction: column;
  align-items: flex-end;
  gap: 35px 0;
  max-width: 101%;
  flex-shrink: 0;
}
.screen7,
.submenuFrame {
  box-sizing: border-box;
}
.submenuFrame {
  width: 1866px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-23xl);
  color: var(--color-black);
  font-family: var(--font-imprima);
}
.screen7 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-19xl) 0 var(--padding-5xl);
  gap: 42px 0;
  letter-spacing: normal;
  cursor: pointer;
}
@media screen and (max-width: 1800px) {
  .wrapperKhandviParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .kh,
  .screen7Inner {
    padding-left: var(--padding-40xl);
    padding-right: var(--padding-40xl);
    box-sizing: border-box;
  }
  .screen7Inner {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
  }
}
@media screen and (max-width: 900px) {
  .khandvi {
    font-size: var(--font-size-38xl);
  }
  .kh {
    padding-left: var(--padding-10xl);
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
  .inABowlContainer {
    font-size: var(--font-size-15xl);
  }
  .bowlMix {
    gap: 35px 0;
  }
  .screen7 {
    gap: 42px 0;
  }
}
@media screen and (max-width: 450px) {
  .khandvi {
    font-size: var(--font-size-17xl);
  }
  .inABowlContainer {
    font-size: 25px;
  }
}
